@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    font: 62.5% Futura, sans-serif;
    box-sizing: border-box;
}

:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    --Font-size: 1.8rem;
    --Button-font-size: 1.6rem;
    --Button-background-color: linear-gradient(270deg, #2BB7DA -14.09%, #31D35C 100%);
}

html {
    overflow-x: hidden !important;
}
.style__container {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--Very-Light-Gray);
    overflow-x: hidden;
    width: 100%;
}

#nav__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 16px;
    background: white;
    z-index: 99;
}

header button {
    margin: 0;
}

.hidden-navbar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.hamburger-icon-close {
    display: none;
    position: absolute;
    right: 18px;
}

a {
    text-decoration: none;
    color: var(--Dark-Blue);
}

ul {
    width: 90%;
    background: var(--White);
    margin-top: 128px;
    padding: 40px 10px;
    margin: 128px auto;
    border-radius: 5px;
}

ul li a {
    font-size: 2.4rem;
    width: fit-content;
    color: var(--Dark-Blue);
    font-weight: 400;
}

ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 16px;
}

.style {
    overflow: hidden;
}

.style svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
}

.mobile {
    width: 100%;
}


main,
.main {
    margin: auto;
}

.parent {
    margin-top: 24px;
}

h1 {
    font-size: 5.6rem;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    color: #484754;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 66px;
    letter-spacing: -0.019em;

}

.main-para {
    max-width: 548px;
    margin: 24px auto 0 auto;
    text-align: center;
}

p {
    font-size: var(--Font-size);
    color: var(--Grayish-Blue);
    line-height: 150%;
    margin: 0;
}

.about {
    background: var(--Light-Grayish-Blue);
}

.about-us {
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 16px;
}

section>p {
    text-align: center;
    max-width: 348px;
    margin: 0 auto 80px auto;
}

.about div p {
    text-align: center;
    max-width: 548px;
    margin: 0 auto 0 auto;
}

section div svg {
    display: block;
    margin: auto;
}

button {
    display: block;
    font-size: var(--Button-font-size);
    line-height: 1;
    color: var(--White);
    background: var(--Button-background-color);
    border-radius: 40px;
    border-width: 0;
    padding: 16px 0;
    width: 100%;
    max-width: 148px;
    margin: 40px auto 120px auto;
    transition: background 400ms;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(270deg, #2BB7DA 11.45%, #31D35C 188%);
}

h2 {
    font-size: 4rem;
    line-height: 47px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #4B4B53;
}

.articles {
    padding: 0 16px;
    margin: 80px 0;
}

.topic {
    margin: 0 0 32px 0;
}

h4 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;

}

h3 {
    font-size: 4rem;
    line-height: 47px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #4B4B53;
    width: fit-content;
    margin: 24px auto;
}

h5 {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #4B4B53;
    margin: 0 0 8px 0;
    transition: color 400ms;
}

.post .info {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
}

.card {
    width: 372px;
    margin: auto;
}

div img {
    width: 100%;
}

.author {
    font-family: Public Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.post {
    background: var(--White);
    padding: 24px;
}

.post__image {
    height: 200px;
    object-fit: cover;
}

h5:hover {
    color: var(--Lime-Green);
}

footer {
    width: 100%;
    background: var(--Dark-Blue);
}

#nav__footer {
    padding: 40px 16px;
    width: 100%;
}

.external__link:nth-child(3) {
    margin-top: 0 !important;
}

#nav__footer>svg {
    display: block;
    margin: auto;
}

#nav__footer>button {
    margin-bottom: 32px;
}

.social__link {
    width: fit-content;
    margin: auto;
    margin-top: 32px;
}

.desktop {
    display: none;
}

.youtube,
.twitter,
.pinterest,
.instagram {
    margin-left: 16px;
}

.external__link {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 32px;
}

.external__link div {
    display: flex;
    flex-direction: column;
}

.external__link ol li a,
.external__link ol li {
    font-size: 1.6rem;
    font-weight: 300 !important;
    text-align: center;
    margin-top: 16px;
    color: var(--Very-Light-Gray);
    opacity: 0.8;
    cursor: pointer;
}

.section__card {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
}

.external__link ol li {
    list-style: none;
}

.external__link ol li a:hover {
    color: var(--Lime-Green);
}

header .links,
header ol {
    display: flex;
    margin: 0;
}

.hidden-list a {
    font-size: 1.6rem;
    margin-left: 16px;
    margin: auto;
}

ol {
    padding: 0;
}

.links,
header button {
    display: none !important;
}

.hidden-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 72px;
    width: 80px;
    cursor: pointer;
}

.hidden-list:hover .link-hover {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 80px;
    margin: auto;
    background: var(--Lime-Green);
    transition: all 400ms;
}

.footer {
    font-size: 1.6rem;
    width: fit-content;
    margin: auto;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__container {
    display: grid;
    grid-gap: 16px;
    gap: 16px;
}

@media only screen and (max-width: 380px) {
    .card {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        overflow-x: hidden;
    }

    section div svg {
        margin: 0;
    }

    .section__card div p {
        text-align: left;
        margin: 0;

    }

    h3 {
        margin-left: 0;
    }

    .max__width {
        max-width: 1140px;
        margin: auto;
    }

    .card__container {
        display: grid;
        grid-gap: 32px;
        gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    }

    h4 {
        text-align: left;
    }

    #nav__footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 16px;
    }

    .footer-1,
    .footer-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: fit-content;
        height: inherit;
    }

    .footer-3 button {
        margin: 0;
    }

    .footer-3 {
        align-items: flex-end;
    }

    .footer-1 .social__link {
        margin: 80px 0 0 0 !important;
    }

    .footer-3 p {
        margin: 56px 0 0 0 !important;
    }

    .external__link {
        width: 100% !important;
        flex-direction: row;
        width: fit-content !important;
        justify-content: space-between;
        margin: 0;
    }

    .external__link ol li a,
    .external__link ol li {
        text-align: left;
    }

    .external__link {
        display: flex;
        flex-direction: column;
    }

    .external__link ol li a:nth-child(1) {
        margin: 0;
    }


    .social__link a,
    .footer-1 svg {
        display: inline-block;
        cursor: pointer;
    }

    .social__link a svg path:hover {
        fill: var(--Lime-Green);
    }
}

@media only screen and (min-width:900px) {

    .hamburger-icon-close,
    .hamburger-icon {
        display: none !important;
    }

    .links,
    header button {
        display: block !important;
    }

    .mobile {
        display: none;
    }

    .desktop {
        position: absolute !important;
        display: block;
        width: 80%;
        top: -200px !important;
        right: -280px !important;
        overflow: hidden;

    }

    .child {
        position: absolute;
        top: -200px;
        right: -500px;
        width: 90%;
    }

    .main {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 16px;
        height: 800px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        text-align: left !important;
        margin-left: 0;
    }

    .topic p {
        min-width: 580px;
        margin: 0 0 80px 0 !important;
    }

    .parent {
        width: fit-content !important;
    }

    h1 {
        max-width: 440px;
    }

    button {
        margin: 40px 0 0 0;
    }

    .footer-3 button {
        margin: 0;
    }

    .main-para {
        margin: 24px 0 0 0;
        max-width: 440px;
    }
}